
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var pIds = new List<int>();
    //pIds = ViewBag.pIds;

    var userLv = new HHTDCDMR.Models.Extend.Res.UserLv();
    userLv = ViewBag.UserLv;
    var user2 = userLv.list;
    var user3 = new List<HHTDCDMR.Models.Extend.Res.UserLv>();
    if (user2 != null)
    {
        user3 = user2.First().list;
    }
}
@section js{
    <script src="~/Current/js/Device/deviceIndex.js?201808271640"></script>
}
<link href="~/Current/js/layui/css/layui.css" rel="stylesheet" />

<style>

    .tableImg {
        width: 32px;
    }

    .table {
        font-size: 12px;
    }

    .rt_content {
        padding: 20px;
        width: 100%;
        min-height: 100px;
        overflow: scroll;
        border: 1px solid #ccc;
    }

        .rt_content table {
            /*min-width: 100%;*/
            width: 1730px;
            /*width: auto;*/
        }

    .btn-getExcel {
        margin-left: 8px;
    }
</style>

@{ var fluidList = new List<DbOpertion.Models.FluidInfo0301>();
    fluidList = ViewBag.fluidList;
    var operatorList = new List<DbOpertion.Models.AllInOne_UserInfo>();
    operatorList = ViewBag.operatorList;
}

<section class="rt_wrap content mCustomScrollbar">
    <div class="page_title">
        <h2 class="fl">设备列表</h2>

        <button class="btn btn-info tds-90 fr  btn-getExcel" type="button">
            导出Excel
        </button>
        <button class="btn btn-block btn-info tds-2x fr  btn-addDevice" type="button">
            新增设备
        </button>
    </div>
    <section class="mtb">
        @if (userLv.list != null)
        {
            if (userLv.lv == "100")
            {
                if (user2 != null && user2.Count > 0)
                {
                    <input type="text" class="textbox textbox_225 layui-input tds-2v fl input-lv99" autocomplete="off" list="history" value="" />
                    <datalist id="history">
                        @foreach (var item in user2)
                        {
                            <option data-cid="@item.cid" value="@item.name"></option>
                        }
                    </datalist>
                    if (user3 != null && user3.Count > 0)
                    {
                        <input type="text" class="textbox textbox_225 layui-input tds-2v fl input-lv98" autocomplete="off" list="history2" value="" />
                        <datalist id="history2">
                            @foreach (var item in user3)
                            {
                                <option data-cid="@item.cid" value="@item.name"></option>
                            }
                        </datalist>
                    }
                }
            }
            else if (userLv.lv == "99")
            {
                if (user2 != null && user2.Count > 0)
                {
                    <input type="text" class="textbox textbox_225 layui-input tds-3x fl input-lv98" autocomplete="off" list="history" value="" />
                    <datalist id="history">
                        @foreach (var item in user2)
                        {
                            <option data-cid="@item.cid" value="@item.name"></option>
                        }
                    </datalist>
                }
            }
        }


        <select class="select s-openState layui-input tds-75 fl">
            <option value="">设备状态</option>
            <option value="0">未启用</option>
            <option value="1">已启用</option>
            <option value="2">已停用</option>
        </select>
        <select class="select s-factoryNo layui-input tds-75 fl">
            <option value="">设备厂家</option>
            <option value="08">上海信东</option>
        </select>
        <select class="select s-meterType  layui-input tds-75 fl">
            <option value="">设备类型</option>
            <option value="11">一体机</option>
        </select>
        <select class="select s-operator  layui-input tds-75 fl">
            <option value="">操作人员</option>
            @{ foreach (var item in operatorList)
                {
                    <option value="@item.name">@item.name</option>
                }}
        </select>
        <select class="select s-fluidNo  layui-input tds-75 fl">
            <option value="">价格类型</option>
            @{ foreach (var item in fluidList)
                {
                    <option value="@item.fluidNo">@item.fluidName</option>
                }}
        </select>
        <input type="text" class="textbox textbox_225 input-search  layui-input tds-4v fl" placeholder="制造号/客户编号/通讯编号/客户姓名/地址" />
        <input type="button" value="查询" class="group_btn btn-search" />

        <div class="fc"></div>
    </section>

    <div class="rt_content">
        <table class="table" id="fixtable">
            <tr>
                <th class="th-sort sorting" data-sort="ProtocolNo" title="协议" width="65">协议</th>
                <th class="th-sort sorting" data-sort="deviceNo" title="制造号" width="125">制造号</th>
                <th class="th-sort sorting" data-sort="communicateNo" title="通讯编号" width="125">通讯编号</th>
                <th class="th-sort sorting" data-sort="customerName" title="客户名称">客户名称</th>
                <th class="th-sort sorting" data-sort="address" title="地址">地址</th>
                <th class="th-sort sorting" data-sort="customerNo" title="客户编号" width="90">客户编号</th>
                <th class="th-sort sorting" data-sort="meterTypeName" title="表计类型">表计类型</th>
                <th class="th-sort sorting" data-sort="fluidName" title="价格类型">价格类型</th>
                <th class="th-sort sorting" data-sort="openStateName" title="开户状态">开户状态</th>
                <th class="th-sort sorting" data-sort="editTime" title="最后编辑时间">最后编辑时间</th>
                <th class="tds-3x">查看详情</th>
                <th class="tds-3x">操作</th>
            </tr>
        </table>

        <aside class="paging2">
            <a>第一页</a>
            <a>1</a>
            <a>2</a>
            <a>3</a>
            <a>…</a>
            <a>1004</a>
            <a>最后一页</a>
        </aside>
    </div>
</section>



